In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
sns.set_style('ticks')

In [3]:
str_cols = ['GmWt_Desc1', 'GmWt_Desc2', 'Shrt_Desc']

In [5]:
train[str_cols].head()

,GmWt_Desc1,GmWt_Desc2,Shrt_Desc
0,1 tbsp,.5 oz,"BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY"
1,1 cup,1 piece,"HEARTS OF PALM,CANNED"
2,1 thigh,"1 serving, (3 oz)","CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD..."
3,1 cup,3 oz,"PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD"
4,1 tbsp,1 cup,"VINEGAR,DISTILLED"

In [14]:
train['GmWt_Desc2'].value_counts()

1 cup                                                                       266
1 lb                                                                        238
1 steak                                                                     238
1 piece, cooked, excluding refuse (yield from 1 lb raw meat with refuse)    192
1 oz                                                                        177
                                                                           ...
1 serving, 1 cup (8 fl oz)                                                    1
1 packet,  (0.675 oz)                                                         1
14 cookie                                                                     1
.5 turkey, bone removed                                                       1
1 roast,  (yield from 436 g raw meat)                                         1
Name: GmWt_Desc2, Length: 862, dtype: int64

In [57]:
def handle_desc(x, param):
    if (x != x) and (param == 0):
        return np.NaN
    elif (x != x):
        return 'nan'
    tup = x.lower().replace(',', '').split(' ')[:2]
    if param == 0:
        return float(tup[0])
    elif param == 1:
        return tup[1]
    else:
        return ' '.join(tup)

In [29]:
train_col2

0            [.5, oz]
1          [1, piece]
2       [1, serving,]
3             [3, oz]
4            [1, cup]
            ...
7751      [1, fillet]
7752              NaN
7753              NaN
7754              NaN
7755       [1, cubic]
Name: GmWt_Desc2, Length: 7756, dtype: object

In [58]:
col = 'GmWt_Desc2'
train[col + '_first'] = train[col].apply(lambda x: handle_desc(x, 0))
test[col + '_first'] = test[col].apply(lambda x: handle_desc(x, 0))

train[col + '_second'] = train[col].apply(lambda x: handle_desc(x, 1))
test[col + '_second'] = test[col].apply(lambda x: handle_desc(x, 1))

train[col + '_pair'] = train[col].apply(lambda x: handle_desc(x, 2))
test[col + '_pair'] = test[col].apply(lambda x: handle_desc(x, 2))

In [59]:
train.tail()

,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),...,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,GmWt_Desc1_first,GmWt_Desc1_second,GmWt_Desc1_pair,GmWt_Desc2_first,GmWt_Desc2_second,GmWt_Desc2_pair
7751,"DRUM,FRESHWATER,RAW",77.33,119,17.54,4.93,1.08,0.00,0.0,NaN,60.0,...,3 oz,198.0,1 fillet,0.0,3,oz,3 oz,1.0,fillet,1 fillet
7752,"BEEF,LOIN,TOP LOIN,LN & FAT,1/8"" FAT,SEL,RAW",63.95,224,20.59,15.04,0.87,0.00,0.0,0.0,23.0,...,3 oz,NaN,NaN,9.0,3,oz,3 oz,NaN,nan,nan
7753,"POTATOES,AU GRATIN,HOME-PREPARED FROM RECIPE U...",74.00,132,5.06,7.59,2.09,11.27,1.8,NaN,119.0,...,1 cup,NaN,NaN,0.0,1,cup,1 cup,NaN,nan,nan
7754,"APPLES,DEHYD (LO MOIST),SULFURED,STWD",79.36,74,0.28,0.12,0.33,19.91,2.6,NaN,4.0,...,1 cup,NaN,NaN,0.0,1,cup,1 cup,NaN,nan,nan
7755,"TUNA,FRESH,YELLOWFIN,RAW",74.03,109,24.40,0.49,1.64,0.00,0.0,0.0,4.0,...,"1 oz, boneless",16.0,"1 cubic inch, boneless",0.0,1,oz,1 oz,1.0,cubic,1 cubic

In [62]:
train[col + '_second'].value_counts()

nan         3439
cup          480
oz           377
piece        319
steak        297
            ...
nuts           1
anisette       1
raw            1
saltines       1
kidney         1
Name: GmWt_Desc2_second, Length: 212, dtype: int64

In [64]:
train.head()

,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),...,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,GmWt_Desc1_first,GmWt_Desc1_second,GmWt_Desc1_pair,GmWt_Desc2_first,GmWt_Desc2_second,GmWt_Desc2_pair
0,"BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY",4.70,393,12.00,6.00,3.90,73.40,5.2,13.75,651.0,...,1 tbsp,15.0,.5 oz,0.0,1,tbsp,1 tbsp,0.5,oz,.5 oz
1,"HEARTS OF PALM,CANNED",90.20,28,2.52,0.62,2.04,4.62,2.4,NaN,58.0,...,1 cup,33.0,1 piece,0.0,1,cup,1 cup,1.0,piece,1 piece
2,"CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD...",63.89,196,24.06,11.09,1.56,0.00,0.0,0.00,13.0,...,1 thigh,85.0,"1 serving, (3 oz)",29.0,1,thigh,1 thigh,1.0,serving,1 serving
3,"PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD",54.73,280,20.43,21.35,3.51,0.00,0.0,0.00,10.0,...,1 cup,85.0,3 oz,27.0,1,cup,1 cup,3.0,oz,3 oz
4,"VINEGAR,DISTILLED",94.78,18,0.00,0.00,0.02,0.04,0.0,0.04,6.0,...,1 tbsp,238.0,1 cup,0.0,1,tbsp,1 tbsp,1.0,cup,1 cup

In [66]:
from sklearn.model_selection import KFold

cv = KFold(n_splits = 5, shuffle = True)

cols = [col + '_second', col + '_pair']
for cur_col in cols:
    globalmean = train['Energ_Kcal'].mean()
    train[cur_col + '_encoded'] = 0.
    for train_idx, test_idx in cv.split(train):
        mapping = train.loc[train_idx].groupby(cur_col)['Energ_Kcal'].mean()
        train[cur_col + '_encoded'][test_idx] = train[cur_col][test_idx].map(mapping)
    train[cur_col + '_encoded'].fillna(globalmean, inplace=True) 
    mapping = train.groupby(cur_col)['Energ_Kcal'].mean()
    test[cur_col + '_encoded'] = test[cur_col].map(mapping)
    test[cur_col + '_encoded'].fillna(globalmean, inplace=True)

/home/data_sapiens/Anaconda/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [74]:
train['Shrt_Desc']

0                      BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY
1                                   HEARTS OF PALM,CANNED
2       CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD...
3                 PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD
4                                       VINEGAR,DISTILLED
                              ...
7751                                  DRUM,FRESHWATER,RAW
7752         BEEF,LOIN,TOP LOIN,LN & FAT,1/8" FAT,SEL,RAW
7753    POTATOES,AU GRATIN,HOME-PREPARED FROM RECIPE U...
7754                APPLES,DEHYD (LO MOIST),SULFURED,STWD
7755                             TUNA,FRESH,YELLOWFIN,RAW
Name: Shrt_Desc, Length: 7756, dtype: object

In [85]:
def handle_shrt_desc(x):
    new = ''
    for el in x.lower():
        if el.isalpha():
            new += el
        else:
            new += ' '
    return new

In [87]:
train['word_corpus'] = train['Shrt_Desc'].apply(handle_shrt_desc)
corpus = list(train['word_corpus'].values)

In [88]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
tfidf = vectorizer.fit_transform(corpus)

In [90]:
from sklearn.decomposition import NMF
nmf = NMF(n_components = 5)

word_nmf = nmf.fit_transform(tfidf)

word_cols = ['word_TF-IDF-' + str(i) for i in range(5)]

train = pd.concat([train, pd.DataFrame(word_nmf, columns = word_cols)], axis = 1, sort = False)

In [91]:
train

,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),...,GmWt_Desc2_second,GmWt_Desc2_pair,GmWt_Desc2_second_encoded,GmWt_Desc2_pair_encoded,word_corpus,word_TF-IDF-0,word_TF-IDF-1,word_TF-IDF-2,word_TF-IDF-3,word_TF-IDF-4
0,"BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY",4.70,393,12.00,6.00,3.90,73.40,5.2,13.75,651.0,...,oz,.5 oz,269.188119,431.250000,babyfood crl oatmeal w bananas dry,0.000000,0.000000,0.001847,0.043166,0.000000
1,"HEARTS OF PALM,CANNED",90.20,28,2.52,0.62,2.04,4.62,2.4,NaN,58.0,...,piece,1 piece,252.078431,248.682353,hearts of palm canned,0.003764,0.000000,0.000000,0.011576,0.000000
2,"CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD...",63.89,196,24.06,11.09,1.56,0.00,0.0,0.00,13.0,...,serving,1 serving,162.680556,154.024793,chicken broilers or fryers thigh meat only ckd...,0.000000,0.002799,0.220350,0.000000,0.000000
3,"PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD",54.73,280,20.43,21.35,3.51,0.00,0.0,0.00,10.0,...,oz,3 oz,290.700637,168.086420,pork cured shldr arm picnic ln fat rstd,0.022004,0.000000,0.000000,0.000000,0.134601
4,"VINEGAR,DISTILLED",94.78,18,0.00,0.00,0.02,0.04,0.0,0.04,6.0,...,cup,1 cup,341.739018,382.968750,vinegar distilled,0.000035,0.000000,0.000000,0.000460,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7751,"DRUM,FRESHWATER,RAW",77.33,119,17.54,4.93,1.08,0.00,0.0,NaN,60.0,...,fillet,1 fillet,134.754098,128.358974,drum freshwater raw,0.005254,0.000000,0.011658,0.000000,0.011330
7752,"BEEF,LOIN,TOP LOIN,LN & FAT,1/8"" FAT,SEL,RAW",63.95,224,20.59,15.04,0.87,0.00,0.0,0.00,23.0,...,nan,nan,229.507592,227.127480,beef loin top loin ln fat fat sel raw,0.120790,0.000000,0.000000,0.000000,0.081965
7753,"POTATOES,AU GRATIN,HOME-PREPARED FROM RECIPE U...",74.00,132,5.06,7.59,2.09,11.27,1.8,NaN,119.0,...,nan,nan,231.094109,234.003646,potatoes au gratin home prepared from recipe u...,0.000000,0.002695,0.007345,0.012194,0.000000
7754,"APPLES,DEHYD (LO MOIST),SULFURED,STWD",79.36,74,0.28,0.12,0.33,19.91,2.6,NaN,4.0,...,nan,nan,231.897698,234.003646,apples dehyd lo moist sulfured stwd,0.000000,0.000482,0.010030,0.006565,0.000000
7755,"TUNA,FRESH,YELLOWFIN,RAW",74.03,109,24.40,0.49,1.64,0.00,0.0,0.00,4.0,...,cubic,1 cubic,242.055556,228.333333,tuna fresh yellowfin raw,0.004295,0.000000,0.010429,0.001417,0.011586

In [3]:
import scripts

In [15]:
train = pd.read_excel('semifinal_data/train.xlsx')
test = pd.read_excel('semifinal_data/test.xlsx')
descr = pd.read_excel('semifinal_data/description.xlsx')

In [22]:
import importlib
importlib.reload(scripts.semifinal_funcs)

In [27]:
from scripts.semifinal_funcs import prepare_features

In [28]:
train1, test1 = prepare_features(train, test)

/home/data_sapiens/programs/challenges/best_hack/scripts/semifinal_funcs.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[cur_col + '_encoded'].fillna(globalmean, inplace=True)

                                           Shrt_Desc  Water_(g)  Energ_Kcal  \
0                 BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY       4.70       393.0
1                              HEARTS OF PALM,CANNED      90.20        28.0
2  CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD...      63.89       196.0
3            PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD      54.73       280.0
4                                  VINEGAR,DISTILLED      94.78        18.0

   Protein_(g)  Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  \
0        12.00           6.00     3.90           73.40           5.2
1         2.52           0.62     2.04            4.62           2.4
2        24.06          11.09     1.56            0.00           0.0
3        20.43          21.35     3.51            0.00           0.0
4         0.00           0.00     0.02            0.04           0.0

   Sugar_Tot_(g)  Calcium_(mg)  ...  GmWt_Desc2_first  GmWt_Desc2_second  \
0          13.75         651.0  ...               0.5                 oz
1            NaN          58.0  ...               1.0              piece
2           0.00          13.0  ...               1.0            serving
3           0.00          10.0  ...               3.0                 oz
4           0.04           6.0  ...               1.0                cup

   GmWt_Desc2_pair  GmWt_Desc2_second_encoded  GmWt_Desc2_pair_encoded  \
0            .5 oz                 276.428105               424.200000
1          1 piece                 245.937255               248.777778
2        1 serving                 159.657718               161.299320
3             3 oz                 282.006667               169.417722
4            1 cup                 350.719072               386.665625

   word_TF-IDF-0  word_TF-IDF-1  word_TF-IDF-2  word_TF-IDF-3  word_TF-IDF-4
0       0.000000       0.000000       0.001380       0.000000       0.044356
1       0.003879       0.000000       0.000000       0.000000       0.012238
2       0.000000       0.002068       0.216432       0.000000       0.000000
3       0.020011       0.000000       0.000000       0.120625       0.000000
4       0.000041       0.000000       0.000000       0.000000       0.000425

[5 rows x 67 columns]

/home/data_sapiens/Anaconda/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/home/data_sapiens/programs/challenges/best_hack/scripts/semifinal_funcs.py:114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Energ_Kcal'] = scaler.transform(train['Energ_Kcal'].values.reshape(-1, 1))

In [29]:
train1

,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),...,GmWt_Desc1_pair_encoded,GmWt_Desc2_first,GmWt_Desc2_second_encoded,GmWt_Desc2_pair_encoded,word_TF-IDF-0,word_TF-IDF-1,word_TF-IDF-2,word_TF-IDF-3,word_TF-IDF-4,NaN_number
0,-1.614728,0.983931,0.045127,-0.292902,0.707616,1.893753,0.727681,0.506841,2.868136,7.830901,...,1.546081,-0.522879,0.687313,2.520952,-0.415075,-0.361968,-0.282856,-0.389314,0.960280,-0.681951
1,1.176036,-1.165101,-0.853453,-0.632004,0.083121,-0.631450,0.075360,-0.390801,-0.080933,0.071645,...,-0.726438,-0.129232,0.265748,0.289748,-0.307974,-0.361968,-0.322520,-0.389314,-0.163548,0.076756
2,0.317264,-0.175957,1.188257,0.027921,-0.078039,-0.801069,-0.483771,-0.516590,-0.304724,-0.306088,...,0.054621,-0.129232,-0.927146,-0.822895,-0.415075,-0.298690,5.899618,-0.389314,-0.591745,-0.790338
3,0.018277,0.318615,0.844181,0.674610,0.576673,-0.801069,-0.483771,-0.516590,-0.319643,-0.309585,...,-0.768394,1.445358,0.764441,-0.719637,0.137461,-0.361968,-0.322520,2.919364,-0.591745,-0.898725
4,1.325530,-1.223978,-1.092316,-0.671083,-0.595094,-0.799601,-0.483771,-0.513613,-0.339536,-0.470471,...,1.597090,-0.129232,1.714454,2.043551,-0.413950,-0.361968,-0.322520,-0.389314,-0.576869,-0.898725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7751,0.755953,-0.629315,0.570247,-0.360345,-0.239199,-0.801069,-0.483771,-0.390801,-0.070986,-0.318329,...,-0.274839,-0.129232,-1.245228,-1.303151,-0.290658,-0.361968,-0.011628,-0.069686,-0.591745,0.185143
7752,0.319223,-0.011100,0.859347,0.276890,-0.309707,-0.801069,-0.483771,-0.516590,-0.254992,-0.218649,...,-0.274839,-0.129232,0.064775,0.025369,2.765740,-0.361968,-0.322520,1.744467,-0.591745,-0.248404
7753,0.647260,-0.552774,-0.612694,-0.192685,0.099908,-0.387300,-0.064423,-0.390801,0.222429,-0.363797,...,-0.759498,-0.129232,0.064775,0.082846,-0.415075,-0.286359,-0.131605,-0.389314,-0.178706,0.293530
7754,0.822213,-0.894264,-1.065776,-0.663520,-0.491012,-0.070090,0.121955,-0.390801,-0.349482,-0.400521,...,-0.748400,-0.129232,0.064775,0.046741,-0.415075,-0.350377,-0.041786,-0.389314,-0.371780,0.401916
7755,0.648239,-0.688192,1.220485,-0.640198,-0.051179,-0.801069,-0.483771,-0.516590,-0.349482,-0.341063,...,0.559357,-0.129232,0.217134,0.224739,-0.313456,-0.361968,-0.042307,-0.066281,-0.542273,-0.898725

In [30]:
train1.columns

Index(['Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Lipid_Tot_(g)', 'Ash_(g)',
       'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'Calcium_(mg)',
       'Iron_(mg)', 'Magnesium_(mg)', 'Phosphorus_(mg)', 'Potassium_(mg)',
       'Sodium_(mg)', 'Zinc_(mg)', 'Copper_mg)', 'Manganese_(mg)',
       'Selenium_(µg)', 'Vit_C_(mg)', 'Thiamin_(mg)', 'Riboflavin_(mg)',
       'Niacin_(mg)', 'Panto_Acid_mg)', 'Vit_B6_(mg)', 'Folic_Acid_(µg)',
       'Food_Folate_(µg)', 'Folate_DFE_(µg)', 'Choline_Tot_ (mg)',
       'Vit_B12_(µg)', 'Vit_A_IU', 'Retinol_(µg)', 'Alpha_Carot_(µg)',
       'Beta_Carot_(µg)', 'Beta_Crypt_(µg)', 'Lycopene_(µg)', 'Lut+Zea_ (µg)',
       'Vit_E_(mg)', 'Vit_D_IU', 'Vit_K_(µg)', 'FA_Sat_(g)', 'FA_Mono_(g)',
       'FA_Poly_(g)', 'Cholestrl_(mg)', 'GmWt_1', 'GmWt_2', 'Refuse_Pct',
       'GmWt_Desc1_first', 'GmWt_Desc1_second_encoded',
       'GmWt_Desc1_pair_encoded', 'GmWt_Desc2_first',
       'GmWt_Desc2_second_encoded', 'GmWt_Desc2_pair_encoded', 'word_TF-IDF-0',
       'word_TF-IDF-1', 'word_TF-IDF-2', 'word_TF-IDF-3', 'word_TF-IDF-4',
       'NaN_number'],
      dtype='object')

In [35]:
def foo(b, a):
    return a - b

In [36]:
foo(**{'a': 1, 'b': 10})

-9