In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
sns.set_style('ticks')

In [2]:
train = pd.read_excel('semifinal_data/train.xlsx')
test = pd.read_excel('semifinal_data/test.xlsx')
descr = pd.read_excel('semifinal_data/description.xlsx')

In [3]:
str_cols = ['GmWt_Desc1', 'GmWt_Desc2', 'Shrt_Desc']

In [5]:
train[str_cols].head()

,GmWt_Desc1,GmWt_Desc2,Shrt_Desc
0,1 tbsp,.5 oz,"BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY"
1,1 cup,1 piece,"HEARTS OF PALM,CANNED"
2,1 thigh,"1 serving, (3 oz)","CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD..."
3,1 cup,3 oz,"PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD"
4,1 tbsp,1 cup,"VINEGAR,DISTILLED"

In [14]:
train['GmWt_Desc2'].value_counts()

1 cup                                                                       266
1 lb                                                                        238
1 steak                                                                     238
1 piece, cooked, excluding refuse (yield from 1 lb raw meat with refuse)    192
1 oz                                                                        177
                                                                           ...
1 serving, 1 cup (8 fl oz)                                                    1
1 packet,  (0.675 oz)                                                         1
14 cookie                                                                     1
.5 turkey, bone removed                                                       1
1 roast,  (yield from 436 g raw meat)                                         1
Name: GmWt_Desc2, Length: 862, dtype: int64

In [57]:
def handle_desc(x, param):
    if (x != x) and (param == 0):
        return np.NaN
    elif (x != x):
        return 'nan'
    tup = x.lower().replace(',', '').split(' ')[:2]
    if param == 0:
        return float(tup[0])
    elif param == 1:
        return tup[1]
    else:
        return ' '.join(tup)

In [29]:
train_col2

0            [.5, oz]
1          [1, piece]
2       [1, serving,]
3             [3, oz]
4            [1, cup]
            ...
7751      [1, fillet]
7752              NaN
7753              NaN
7754              NaN
7755       [1, cubic]
Name: GmWt_Desc2, Length: 7756, dtype: object

In [58]:
col = 'GmWt_Desc2'
train[col + '_first'] = train[col].apply(lambda x: handle_desc(x, 0))
test[col + '_first'] = test[col].apply(lambda x: handle_desc(x, 0))

train[col + '_second'] = train[col].apply(lambda x: handle_desc(x, 1))
test[col + '_second'] = test[col].apply(lambda x: handle_desc(x, 1))

train[col + '_pair'] = train[col].apply(lambda x: handle_desc(x, 2))
test[col + '_pair'] = test[col].apply(lambda x: handle_desc(x, 2))

In [59]:
train.tail()

,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),...,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,GmWt_Desc1_first,GmWt_Desc1_second,GmWt_Desc1_pair,GmWt_Desc2_first,GmWt_Desc2_second,GmWt_Desc2_pair
7751,"DRUM,FRESHWATER,RAW",77.33,119,17.54,4.93,1.08,0.00,0.0,NaN,60.0,...,3 oz,198.0,1 fillet,0.0,3,oz,3 oz,1.0,fillet,1 fillet
7752,"BEEF,LOIN,TOP LOIN,LN & FAT,1/8"" FAT,SEL,RAW",63.95,224,20.59,15.04,0.87,0.00,0.0,0.0,23.0,...,3 oz,NaN,NaN,9.0,3,oz,3 oz,NaN,nan,nan
7753,"POTATOES,AU GRATIN,HOME-PREPARED FROM RECIPE U...",74.00,132,5.06,7.59,2.09,11.27,1.8,NaN,119.0,...,1 cup,NaN,NaN,0.0,1,cup,1 cup,NaN,nan,nan
7754,"APPLES,DEHYD (LO MOIST),SULFURED,STWD",79.36,74,0.28,0.12,0.33,19.91,2.6,NaN,4.0,...,1 cup,NaN,NaN,0.0,1,cup,1 cup,NaN,nan,nan
7755,"TUNA,FRESH,YELLOWFIN,RAW",74.03,109,24.40,0.49,1.64,0.00,0.0,0.0,4.0,...,"1 oz, boneless",16.0,"1 cubic inch, boneless",0.0,1,oz,1 oz,1.0,cubic,1 cubic

In [62]:
train[col + '_second'].value_counts()

nan         3439
cup          480
oz           377
piece        319
steak        297
            ...
nuts           1
anisette       1
raw            1
saltines       1
kidney         1
Name: GmWt_Desc2_second, Length: 212, dtype: int64

In [64]:
train.head()

,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),...,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,GmWt_Desc1_first,GmWt_Desc1_second,GmWt_Desc1_pair,GmWt_Desc2_first,GmWt_Desc2_second,GmWt_Desc2_pair
0,"BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY",4.70,393,12.00,6.00,3.90,73.40,5.2,13.75,651.0,...,1 tbsp,15.0,.5 oz,0.0,1,tbsp,1 tbsp,0.5,oz,.5 oz
1,"HEARTS OF PALM,CANNED",90.20,28,2.52,0.62,2.04,4.62,2.4,NaN,58.0,...,1 cup,33.0,1 piece,0.0,1,cup,1 cup,1.0,piece,1 piece
2,"CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD...",63.89,196,24.06,11.09,1.56,0.00,0.0,0.00,13.0,...,1 thigh,85.0,"1 serving, (3 oz)",29.0,1,thigh,1 thigh,1.0,serving,1 serving
3,"PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD",54.73,280,20.43,21.35,3.51,0.00,0.0,0.00,10.0,...,1 cup,85.0,3 oz,27.0,1,cup,1 cup,3.0,oz,3 oz
4,"VINEGAR,DISTILLED",94.78,18,0.00,0.00,0.02,0.04,0.0,0.04,6.0,...,1 tbsp,238.0,1 cup,0.0,1,tbsp,1 tbsp,1.0,cup,1 cup

In [66]:
from sklearn.model_selection import KFold

cv = KFold(n_splits = 5, shuffle = True)

cols = [col + '_second', col + '_pair']
for cur_col in cols:
    globalmean = train['Energ_Kcal'].mean()
    train[cur_col + '_encoded'] = 0.
    for train_idx, test_idx in cv.split(train):
        mapping = train.loc[train_idx].groupby(cur_col)['Energ_Kcal'].mean()
        train[cur_col + '_encoded'][test_idx] = train[cur_col][test_idx].map(mapping)
    train[cur_col + '_encoded'].fillna(globalmean, inplace=True) 
    mapping = train.groupby(cur_col)['Energ_Kcal'].mean()
    test[cur_col + '_encoded'] = test[cur_col].map(mapping)
    test[cur_col + '_encoded'].fillna(globalmean, inplace=True)

/home/data_sapiens/Anaconda/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [67]:
train

,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),...,GmWt_Desc2,Refuse_Pct,GmWt_Desc1_first,GmWt_Desc1_second,GmWt_Desc1_pair,GmWt_Desc2_first,GmWt_Desc2_second,GmWt_Desc2_pair,GmWt_Desc2_second_encoded,GmWt_Desc2_pair_encoded
0,"BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY",4.70,393,12.00,6.00,3.90,73.40,5.2,13.75,651.0,...,.5 oz,0.0,1,tbsp,1 tbsp,0.5,oz,.5 oz,269.188119,431.250000
1,"HEARTS OF PALM,CANNED",90.20,28,2.52,0.62,2.04,4.62,2.4,NaN,58.0,...,1 piece,0.0,1,cup,1 cup,1.0,piece,1 piece,252.078431,248.682353
2,"CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD...",63.89,196,24.06,11.09,1.56,0.00,0.0,0.00,13.0,...,"1 serving, (3 oz)",29.0,1,thigh,1 thigh,1.0,serving,1 serving,162.680556,154.024793
3,"PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD",54.73,280,20.43,21.35,3.51,0.00,0.0,0.00,10.0,...,3 oz,27.0,1,cup,1 cup,3.0,oz,3 oz,290.700637,168.086420
4,"VINEGAR,DISTILLED",94.78,18,0.00,0.00,0.02,0.04,0.0,0.04,6.0,...,1 cup,0.0,1,tbsp,1 tbsp,1.0,cup,1 cup,341.739018,382.968750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7751,"DRUM,FRESHWATER,RAW",77.33,119,17.54,4.93,1.08,0.00,0.0,NaN,60.0,...,1 fillet,0.0,3,oz,3 oz,1.0,fillet,1 fillet,134.754098,128.358974
7752,"BEEF,LOIN,TOP LOIN,LN & FAT,1/8"" FAT,SEL,RAW",63.95,224,20.59,15.04,0.87,0.00,0.0,0.00,23.0,...,NaN,9.0,3,oz,3 oz,NaN,nan,nan,229.507592,227.127480
7753,"POTATOES,AU GRATIN,HOME-PREPARED FROM RECIPE U...",74.00,132,5.06,7.59,2.09,11.27,1.8,NaN,119.0,...,NaN,0.0,1,cup,1 cup,NaN,nan,nan,231.094109,234.003646
7754,"APPLES,DEHYD (LO MOIST),SULFURED,STWD",79.36,74,0.28,0.12,0.33,19.91,2.6,NaN,4.0,...,NaN,0.0,1,cup,1 cup,NaN,nan,nan,231.897698,234.003646
7755,"TUNA,FRESH,YELLOWFIN,RAW",74.03,109,24.40,0.49,1.64,0.00,0.0,0.00,4.0,...,"1 cubic inch, boneless",0.0,1,oz,1 oz,1.0,cubic,1 cubic,242.055556,228.333333

In [71]:
train[train['GmWt_Desc2_second'] == 'nan']['Energ_Kcal'].mean()

230.59319569642338

In [72]:
test

,Shrt_Desc,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),...,GmWt_Desc2,Refuse_Pct,GmWt_Desc1_first,GmWt_Desc1_second,GmWt_Desc1_pair,GmWt_Desc2_first,GmWt_Desc2_second,GmWt_Desc2_pair,GmWt_Desc2_second_encoded,GmWt_Desc2_pair_encoded
0,SILK KEY LIME SOY YOGURT,77.59,2.35,1.18,1.24,17.65,0.6,12.35,176.0,0.64,...,NaN,0.0,1,container,1 container,NaN,nan,nan,230.593196,230.593196
1,"FAST FOODS,SALAD,VEG,TOSSED,WO/DRSNG",95.51,1.25,0.07,0.53,3.22,NaN,NaN,13.0,0.63,...,1.5 cup,0.0,.75,cup,.75 cup,1.5,cup,1.5 cup,339.202083,225.885250
2,"CUTTLEFISH,MXD SP,CKD,MOIST HEAT",61.12,32.48,1.40,3.36,1.64,0.0,NaN,180.0,10.84,...,NaN,0.0,3,oz,3 oz,NaN,nan,nan,230.593196,230.593196
3,"GROUND TURKEY,93% LN,7% FAT,RAW",72.63,18.73,8.34,0.92,0.00,0.0,0.00,21.0,1.17,...,1 lb,0.0,1,oz,1 oz,1.0,lb,1 lb,197.565217,196.024194
4,"TURKEY,RTL PARTS,ENHANCED,BREAST,MEAT ONLY,CKD...",69.99,27.94,2.08,1.40,0.00,0.0,0.00,15.0,0.59,...,1 breast,24.0,3,oz,3 oz,1.0,breast,1 breast,165.384615,161.578947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,"CEREALS,QUAKER,OATMEAL,REAL MEDLEYS,SMMR BERRY...",7.57,11.31,4.40,4.14,72.58,8.5,20.43,124.0,3.13,...,NaN,0.0,1,package,1 package,NaN,nan,nan,230.593196,230.593196
858,"VEAL,SHLDR,BLADE,LN,CKD,BRSD",59.24,32.66,6.48,1.24,0.00,0.0,0.00,40.0,1.47,...,"1 piece, cooked, excluding refuse (yield from ...",39.0,3,oz,3 oz,1.0,piece,1 piece,247.463950,247.463950
859,"ONIONS,CKD,BLD,DRND,W/SALT",87.86,1.36,0.19,1.03,9.56,1.4,4.73,22.0,0.24,...,"1 tbsp, chopped",0.0,1,cup,1 cup,1.0,tbsp,1 tbsp,230.518519,237.935294
860,"KEEBLER,FUDGE SHOPPE,JUMBO FUDGE STKS,MINT",1.70,2.60,27.20,NaN,67.60,1.8,50.10,NaN,1.60,...,NaN,0.0,1,cookie,1 cookie,NaN,nan,nan,230.593196,230.593196
861,"PORK,CURED,HAM,EX LN (APPROX 4% FAT),CND,UNHTD",73.52,18.49,4.56,3.63,0.00,0.0,0.00,6.0,0.94,...,1 oz,0.0,1,cup,1 cup,1.0,oz,1 oz,280.387268,318.759804